.metals/metals.mv.db
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
project/
target/
.bloop/*
.metals/*
*.v
vivado/*
*.json
*.fir
*.json
*.fir
*.v
*.bsp
*.idea
*.metals
*.bloop
project/
target/
verilator-tests/scheduler/obj_dir/*
*.vcd
*.vcd.fst
verilator-tests/scheduler/instrIssue
verilator-tests/instrIssue/instrIssue
verilator-tests/decode/obj_dir/*
verilator-tests/decode/decode
verilator-tests/missHandler/obj_dir/*
verilator-tests/missHandler/missHandler
firrtl_black_box_resource_files.f
!src/main/resources/*
*.text
*.hex
verilator-tests/testbench/testbench
*.dump
verilator-tests/testbench/elffiles/*
verilator-tests/testbench/obj_dir/*
verilator-tests/testbench/objectfiles/*
verilator-tests/memAccess/obj_dir/*
verilator-tests/memAccess/memAccess
verilator-tests/coretest/testbench
verilator-tests/coretest/obj_dir/*
verilator-tests/program_boot/obj_dir/*
verilator-tests/program_boot/programs/build/*
verilator-tests/program_boot/.fuse_hidden0001e54b00000190
with_emulator/resources/riscv_test_images
*.out
*.log
*build
!with_emulator/resources/vmlinux.dump
vivado*
vitis*
bintoh*
prog.h
!vivado.tcl
.stamp.*
run.log
Makefile